.plans{
    float: right;
    padding: 5px;
    
}
input[type="submit"] {
    width:200px;
    height:35px;
    padding:10px;
    background-color: #dbe9f4;
    border-radius: 5px;
    border-width: 1px; 
    color:rgb(9, 9, 10);
    font-weight: bold;
}
input[type="tel"] {
    width:200px;
    height:20px;
    padding:10px;
    background-color: #dbe9f4;
    border-radius: 5px;
    border-width: 1px; 
    color:rgb(9, 9, 10);
    font-weight: bold;
}
select{
    width:200px;
    height:30px;
    padding:5px;
    background-color: rgb(216, 212, 245);
    border-radius: 5px;
    border-width: 1px; 
    color:rgb(9, 9, 10);
    font-weight: bold;
}
label{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-emphasis: 2px;
    font-weight: bold;
}
.amount{
    display: inline-block;
    font-weight: bold;
    font-size: large;
    color: red;
    background-color: rgb(55, 55, 60);
    padding: 10px;
}
.desc{
    font-weight: bold;
    font-size: medium;
    display: inline-block;
    color: rgb(2, 2, 25);
    padding: 10px;
}
.container{
    display: inline-block;
    background-color: rgb(110, 235, 133);
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 10px;
}
.parent{
    background-color: rgb(105, 105, 188);
    position: absolute;
    border-radius: 20px;
    box-sizing: content-box;
    box-shadow: #2b4b64;
}
#recharge_link{
    background-color: inherit;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
}
#recharge_plan{
    background-color: inherit;
    display: inline-flex;
    border-radius: 10px;
    margin: 5px;

}
.radio{
    display: contents;
    background-color: inherit;
    border-radius: 10px;
}