.plans{
    float: right;
    padding: 5px;
    
}
input{
    width:200px;
    height:25px;
    padding:5px;
    background-color: #dbe9f4;
    border-radius: 5px;
    border-width: 1px; 
    color:rgb(9, 9, 10);
    font-weight: bold;
}
select{
    width:200px;
    height:30px;
    padding:5px;
    background-color: rgb(216, 212, 245);
    border-radius: 5px;
    border-width: 1px; 
    color:rgb(9, 9, 10);
    font-weight: bold;
}
label{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-emphasis: 2px;
    font-weight: bold;
}
.amount{
    display: contents;
    font-weight: bold;
    font-size: large;
      color: red;
      padding: 3px;
}
.desc{
    font-weight: bold;
    font-size: medium;
    display: inline-block;
      color: rgb(2, 2, 25);
}
.container{
    display: inline-block;
    background-color: rgb(173, 190, 228);
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
}
#recharge_link{
    background-color: inherit;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
}
#recharge_plan{
    background-color: inherit;
    display: inline-flex;
    border-radius: 10px;
    margin: 5px;

}
#radio{
    background-color: inherit;
    margin: 5px;
    border-radius: 10px;
}