.plans{
    float: right;
    padding-right: 20px;
}
input{
    width:200px;
    height:20px;
    padding:5px;
    background-color: rgb(216, 212, 245);
    border-radius: 5px;
    border-width: 1px; 
    color:rgb(9, 9, 10);
    font-weight: bold;
}
select{
    width:200px;
    height:30px;
    padding:5px;
    background-color: rgb(216, 212, 245);
    border-radius: 5px;
    border-width: 1px; 
    color:rgb(9, 9, 10);
    font-weight: bold;
}
label{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-emphasis: 2px;
    font-weight: bold;
}
.amount{
    font-weight: bold;
    font-size: large;
      color: red;
}
.desc{
    font-weight: bold;
    font-size: medium;
      color: blue;
}
.container{
    float:center;
}
#recharge_link{
    background-color: rgb(175, 175, 211);
    padding-bottom: 5px;
}
#recharge_plan{
    background-color: rgb(205, 184, 225);
    border-radius: 10px;
    padding: 10px;
}
#radio{
    background-color: rgb(26, 176, 12);
    
}