.form{
    padding:20px;
    background-image: linear-gradient(rgb(16, 110, 115),rgb(123, 225, 228),rgb(5, 107, 130));
    display: inline-block;
    border: 3px inherit rgb(207, 202, 202);
    box-shadow: 5px;
    border-radius: 5px;
    margin: 50px;

}
#footer{
    padding: 20px;
   background-color: gainsboro;
    border-radius: 10px;
    align-items: center;
}
.label{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inputarea{
    color:rgb(50, 4, 4);
    width:300px;
    height: 30px;
    background-color: inherit;
    border-radius: 5px;
}

#heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
#submit{
    padding:10px;
    border-radius: 10px;
    cursor : pointer;
    background-color: inherit;
}
.quer{
    height:100px;
    width: 300px;
    background-color: inherit;
}
#queries{
    display: inline-flexbox;
}
#message{
    color:rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
}


