.news{
    background-image: linear-gradient(rgb(21, 1, 1),rgb(206, 110, 110));
}
.text{
    display: inline-block;
    background-color: inherit;
    border-radius: 10px;
    width: 500px;
    margin-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link{
    text-decoration: none;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
strong{
    font-size: larger;
}