<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body style="background-color:rgb(194, 233, 236)">
    <nav class="navbar navbar-expand-lg navbar--light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:rgb(0, 153, 255) ; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><strong style="background-image:linear-gradient(rgb(232, 27, 27),rgb(200, 146, 146))">TECHie</strong></a>
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home" style="color:rgb(21, 93, 170)"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts" style="color:rgb(55, 24, 128)"><strong>Contact ME</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services" style="color:rgb(32, 28, 130)"><strong>Diner Services</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/asia" style="color:rgb(32, 28, 130)"><strong>Covid Data Of Asian Countries</strong></a>
            </li>
          </ul>
          
          <li class="nav-item">
            <a class="nav-link" href="/logout" style="color:rgb(24, 44, 112)"><strong style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:medium;font-size:large">Log out</strong></a>
          </li>
        </div>
      </div>
    </nav>
    <div class="container" style="background-color:rgb(195, 176, 154); padding-top:5px ;margin-top:auto">
      <div class="ticker">
          <div class="title">
              <h5 style="color: rgb(159, 42, 42);text-decoration:underline; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><center><strong>Campus New's</strong></center></h5>
          </div>
          <div class="news">
              <marquee class="news-content">
                  <a href= "https://nitkkr.ac.in/docs/Date%20sheet%20of%20Offline%20Exams%20for%20the%20session%20of%20May-June%202022%2028042022.pdf"><p style="color:white">Date Sheet for offline Exams for May-June 2022</p></a>
                  <a href="https://www.iitr.ac.in/175yearscelebration/Academics.html"><p style="color:white">Call for Proposals for IITR@175 Patnerships and  fellowships(IIT Roorkee)</p></a>
                  <a href="https://drive.google.com/file/d/1NIRKi1HJD33JPA0tVJVVo8jGNYYXO-3E/view"><p style="color:white">Institute Video and Documentry</p></a>
              </marquee>
          </div>
      </div>
  </div>


  
  <div class="container mt-2">
    <center><strong style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:rgb(27, 18, 107)"><h2>TechNology News</h2></strong></center>
  </div>
  
  <div class="container flex mt-3">
    <div class="row">
      <div class="col">
        <div class="container">
          <img src="https://www.windowslatest.com/wp-content/uploads/2022/04/Windows-11-KB5012643-1-768x432.jpeg" alt="" class="image" width="400" height="300">
          <div class="text">
            <a href="https://www.windowslatest.com/2022/04/26/windows-11-kb5012643-released-heres-everything-new-and-improved/amp/" style="color:black"><p style="font-size:medium;"><span class = "link">Windows 11 KB5012643 released – here’s everything new and improved</span></p></a>
          </div>
          
        </div>
        
        
      </div>
      <div class="col">
        <div class="container">
          <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202204/RTS73FXO_1200x768.png?eSTTsfV.nbwad9Pyw1Ckz04JLZfswmv.&size=1200:675" alt="" class="image" width="400" height="300" style="border-radius:10px">
          <div class="text">
            <a href="https://www.indiatoday.in/amp/technology/news/story/elon-musk-buys-twitter-new-owner-parag-agrawal-1941741-2022-04-26" style="color:black"><p style="font-size:medium"><span class="link">Elon Musk now owns Twitter, all of it sold in a deal worth $44 billion</span></p></a>
          </div>
         
        </div>
      </div>
    </div>
  </div>

  <div class="container flex mt-5">
    <div class="row">
      <div class="col">
        <div class="container">
          <img src="https://www.xda-developers.com/files/2022/04/FRM6s1jVsAAlK2z-810x298_c.jpg" alt="" class="image" width="400" height="300" style="border-radius:10px">
          <div class="text">
            <a href="https://www.xda-developers.com/pop-os-22-04-release/amp/" style="color:black"><p style="font-size:medium"><span class="link">Pop!_OS 22.04 now available with updated Ubuntu base</span></p></a>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="container">
          <img src="https://cdn.mos.cms.futurecdn.net/J5NXfeYJHn8Hm75f6vCWjR-1024-80.jpg.webp" alt="" class="image" width="400" height="300" style="border-radius:10px">
          <div class="text">
            <a href="https://www.cnet.com/google-amp/news/starlink-satellite-internet-explained/" style="color:black"><p style="font-size:medium"><span class="link">Starlink Explained: Everything to Know About Elon Musk's Satellite Internet Venture</span></p></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <center><strong style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:rgb(27, 18, 107)"><h2>Machine Learning New's</h2></strong></center>
  </div>

  <div class="container flex mt-3">
    <div class="row">
      <div class="col">
        <div class="container">
          <img src="https://www.marktechpost.com/wp-content/uploads/2022/04/clustering_example.gif" alt="" class="image" width="400" height="300">
          <div class="text">
            <a href="https://www.marktechpost.com/2022/04/21/researchers-introduce-a-deep-learning-approach-deepdpm-that-supports-deep-clustering-without-knowing-the-number-of-clusters/?amp" style="color:black"><p style="font-size:medium"><span class="link">Researchers Introduce a Deep Learning Approach, ‘DeepDPM’, that Supports Deep Clustering without Knowing the Number of Clusters</span></p></a>
          </div>
          
        </div>
        
        
      </div>
      <div class="col">
        <div class="container">
          <img src="https://miro.medium.com/max/1400/0*0KZggH2fQMklDkP4" alt="" class="image" width="400" height="300" style="border-radius:10px">
          <div class="text">
            <a href="https://towardsdatascience.com/optimize-pytorch-performance-for-speed-and-memory-efficiency-2022-84f453916ea6" style="color:black"><p style="font-size:medium"><span class="link">Optimize PyTorch Performance for Speed and Memory Efficiency (2022)</span></p></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container flex mt-3">
    <div class="row">
      <div class="col">
        <div class="container">
          <img src="https://149695847.v2.pressablecdn.com/wp-content/uploads/2022/04/deep-1.png" alt="" class="image" width="400" height="300">
          <div class="text">
            <a href="https://analyticsindiamag.com/top-8-research-papers-by-deepmind-in-2022-till-date/" style="color:black"><p style="font-size:medium"><span class="link">Top 8 research papers by DeepMind in 2022 (till date</span></p></a>
          </div>
          
        </div>
        
        
      </div>
      <div class="col">
        <div class="container">
          <img src="https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/202204/MIT-Driving-Prediction-01-PRESS_0.jpg?itok=rSWWVOAb" alt="" class="image" width="400" height="300" style="border-radius:10px">
          <div class="text">
            <a href="https://news.mit.edu/2022/machine-learning-anticipating-behavior-cars-0421" style="color:black"><p style="font-size:medium"><span class="link">Anticipating others’ behavior on the road
              A new machine-learning system may someday help driverless cars predict the next moves of nearby drivers, cyclists, and pedestrians in real-time</span></p></a>
          </div>
         
        </div>
      </div>
    </div>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
  <footer>
    <div class = "container mt-5" style="background-color:rgba(255, 255, 255, 0)">
        <h3>About</h3>
        <p style="float:left">
        
Looking for tech blogs to keep up with the latest technology trends? No worries! Your search ends here! Read on…
<br>
<br>
People from different walks of life are intrigued by the way technology is progressing at a profuse rate, shaping our lives into the digital world!
<br>
<br>
With new tech trends being introduced every quarter and information becoming obsolete as technology evolves, it’s now an obligation to stay relevant and learn about the newest <br><br>technologies, digital industry, social media, and the web in general!
</p>
<div class="copyright">
  <center><span id="footer">&copy Copyright Gaurav Chaudhary since 7th December .</center>
</div>

</footer>
</html>